<h1>Editing Playlistprivate</h1>

<!--  =======================================
  Render de anchivo _form.html.erb
======================================= -->
<%= render 'form', playlistprivate: @playlistprivate %>

<%= link_to 'Show', @playlistprivate %> |
<%= link_to 'Back', playlistprivates_path %>
